@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
}

body{
    display:grid;
    grid-template-rows: 15vh 85vh;
}

.main_page{
    display: grid;
    grid-template-columns: 20vw 80vw;
    width: 100%;
    height: 100%;
}

.header{
    background-color: red;
}
/* Side Bar Start */
.side_bar{
    display: grid;
    grid-template-rows: 80vh 20vh;
    background-color: blue;

}

.project_section{
    background-color:  orange;
}

.project_list{
    list-style-type: none;
}

.add_new{
    display: flex;
    background-color: indigo;
    align-items: center;
    justify-content: center;
}


/* Side Bar end */

/* Add New Pop up Start */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f5f5f5;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    /*Half the value of width to center div*/
    margin-top: -250px;
    /*Half the value of height to center div*/
    z-index: 200;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    border-radius: 25px;
}

.popup_header{
    background-image: linear-gradient(to right, #b9d2e7, #148bed);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.popup_header_text{
    margin-left: 5%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}


.popup_project_input{
    display: flex;
    background-color: #f5f5f5;
    align-items: center;
}

.field-holder{
    position: relative;
    margin-bottom: 1.25em;
    margin-top: 5%;
    width: 100%
}

#project_name{
    width:80%;
    margin-left: 10%;
}

input{
    border:0;
    border-bottom: 3 px solid #dfdfdf;
    outline:none;
}

/* label{
    position: absolute;
    top:0;
    left:0;
    color: #424242;
    display:flex;
    align-items:center;
    cursor: text;
    transition: .3s ease-in-out;
} */

input, label{
    font-size: 1em;
    width: 100%;
    height: 55px;
}

/* input:focus + label,
input:valid + label{
    color: #424242;
    font-size: .75em;
    top: -25px;
    pointer-events: none

}

input:focus,
input:valid{
    border-bottom: 3px solid #424242;
} */

.popup_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


/* Add New pop up End */

/* Main List Start */

.to_do_list{
    display:flex;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.main_list{
    display: flex;
    width: 90%;
    height: 90%;
    background-color: aqua;
}

.to_do_item_list {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 0.5fr;

}

.to_do_item_list li {
    list-style: none;
    display: inline;
}

.to_do_item_box {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-row-gap: 1%;
    width:100%;
}